
/*
drop menu styling
*/

/* this is the invisible centering element */
.drop-menu-backdrop {
  background-color: transparent;
  position: absolute;
}

.drop-menu {
  display: hidden;
}

/*
  what drop menu will look like
  fixed width so it will center on the ellipsis
*/
.drop-menu-inner {
  color: white;
  position: absolute;
  font-size: 12px;
  width: 100px;
  background-color: rgba(33, 33, 33, 0.8);
  padding: 10px;
  transform: translate(-51px, 12px);
  animation: fadeIn ease-in 0.2s;
}

/*
  for simple drop menu
*/
.drop-menu-content {
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100px;
}

/*
  for drop menu with rows of actions
*/
.drop-menu-row {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 4px 8px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100px;
}

.drop-menu-action {
  margin-bottom: 5px;
}

/* semantic coloring here */
.drop-menu-action:hover {
  font-weight: 600;
}

/*
  pointy bit
*/
.drop-menu-inner::before {
  content: "";
  top: -9px;
  position: absolute;
  right: 53px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 11px solid rgba(33, 33, 33, 0.8);
}

.ellipsis {
  font-size: 1.4rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
