.ui.tooltip {
  position: relative;
}

.ui.tooltip .container {
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 100;
  display: none;
}

.ui.tooltip .container.show {
  display: block;
  transform: translate(-45%, -10%);
}

.ui.tooltip .container.show:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translate(-50%, 7px);
  border: 13px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top-color: #333;
  border-bottom: 0;
  z-index: 1000;
}

.ui.tooltip .container.show.right {
  transform: translate(50%, 50%);
}

.ui.tooltip .container.show.right:after {
  content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 30%;
    left: 0;
    transform: translate(-80%, 10%);
    border: 12px solid transparent;
    border-left-width: 0;
    border-right-color: #333;
    z-index: 1000;
}

.ui.tooltip .container.show.bottom {
  transform: translate(-45%, 140%);
}

.ui.tooltip .container.show.bottom:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 30%;
  left: 0;
  transform: translate(-80%, 10%);
  border: 12px solid transparent;
  border-left-width: 0;
  border-right-color: #333;
  z-index: 1000;
}

.ui.tooltip .container.show.left {
  transform: translate(-125%, 50%);
}

.ui.tooltip .container.show.left:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 30%;
  left: 0;
  transform: translate(-80%, 10%);
  border: 12px solid transparent;
  border-left-width: 0;
  border-right-color: #333;
  z-index: 1000;
}
