.ui.tooltip {
  display: hidden;
}

.ui.tooltip  {
  width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 3em;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 100;
  display: none;
}

.ui.tooltip.show {
  display: block;
  transform: translate(-40%, -10%);
}

.ui.tooltip.show:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translate(-50%, 7px);
  border: 13px solid transparent;
  border-top-color: #333;
  border-bottom: 0;
  z-index: 100;
}

.ui.tooltip.show.right {
  transform: translate(25%, 65%);
}

.ui.tooltip.show.right:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 30%;
  left: 0;
  transform: translate(-80%, 10%);
  border: 12px solid transparent;
  border-left-width: 0;
  border-right-color: #333;
  z-index: 100;
}

.ui.tooltip.show.bottom {
  transform: translate(-30%, 220%);
}

.ui.tooltip.show.bottom:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  transform: translate(-50%, -10px);
  border: 13px solid transparent;
  border-top-width: 0;
  border-bottom-color: #333;
  z-index: 100;
}

.ui.tooltip.show.left {
  transform: translate(-110%, 148%);
}

.ui.tooltip.show.left:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: 4px;
  top: 30%;
  transform: translate(365%, 15%);
  border: 12px solid transparent;
  border-left-color: #333;
  z-index: 100;
  height: 0;
}
